html {
    height: 100%;
}
body {
    background: white;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex {
    display: flex;
}
.grow {
    flex-grow: 1;
}
.centered {
    justify-content: center;
    align-items: center;
}

.header {
    flex-direction: row;
    height: 100px;
}

.other {
    flex-direction: row;
}
.other .item:hover {
    flex-grow: 1.9;
}

@media (max-width: 1024px) {
    .other {
        flex-direction: column;
    }
}

.item {
    border: 3px solid white;
    border-left-width: 6px;
    border-right-width: 0px;
    flex-grow: 1;
    flex-basis: 0;
    white-space: pre-wrap;
    font-family: 'Rubik Mono One', sans-serif;
    text-decoration: none;
    letter-spacing: 3px;
    color: white;
    box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.6);
    transition: background-color 0.4s, flex-grow 1s;
    transform: translate3d(0, 0, 0); /* force separate paint layers */
}
.item:not(:hover) {
    background-color: black !important;
}

.letter-highlight {
    font-size: 2.32em;
    margin-top: -11px;
    letter-spacing: 1px;
    -webkit-text-stroke: 3px black;
}